
<body>
  <div class="header-container" >
    <header class="header">
      <div class="logo"><a href="">LOGO</a></div>
      <nav>
        <div class="user-menu-small">
          <a class="userlogo" href="">
            <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="clickable image">
          </a>
          <dialog class="modal-menu-small">
            <div>
              <ul class="user-menu-small-list">
                <li><a href="">Home</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Applications</a></li>
                <li><a href="">Settings</a></li>
                <li><a href="">Help</a></li>
              </ul>
            </div>
          </dialog>

        </div>
        <div class="user-menu-big">
          <ul class="user-menu-big-list">
            <li><a href="">Home</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Applications</a></li>
            <li><a href="">Settings</a></li>
            <li><a href="">Help</a></li>
          </ul>
        </div>
      </nav>
      <div>
        <a href="../profile">My profile  </a> 
        <a class="userlogo" href="../profile">
          <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="clickable image">
        </a>
        <form action="/logout" method="post">
          <button>Logout</button>
        </form>
      
      </div>
      
      
      
    </header>
  </div>
 
  