<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jobcreation</title>
  <link rel="stylesheet" href="/jobcreation.css">
</head>
<%- include('partials/header'); -%>
<div class="job-creation-container">
    <h1>Create Job</h1>
    <div class="form-div">
        <form class="jobcreation-form" action="/jobcreation" method="post" >
            <label for="jobtitle">Job title</label>
            <input id="jobtitle" type="text" name="jobtitle">
            <label for="website">Website of the employer</label>
            <input id="website" type="text" name="website">
            <h2>Employers contact</h2>
            <label for="company_name" >Company name</label>
            <input id="company_name" type="text" name="company_name">           
            <label for="contact_email">Contact Email</label>
            <input id="contact_email" type="email" name="email">
            <label for="phone">Phone</label>
            <input id="phone" type="phone" name="phone">
            <label for="adress">Adress</label>
            <input id="adress" type="text" name="address">
            <div class="select-div">
                <label for="origin">Origin</label>
                <select name="origin" id="origin">
                    <option value="">---</option>
                    <option value="job_offer">Job offer</option>
                    <option value="spontaneous">Spontaneous</option>
                    <option value="other">Other</option>
                </select>
                <label for="status">Status</label>
                <select name="status" id="status">
                    <option value="">---</option>
                    <option value="Interested">Interested</option>
                    <option value="sent">CV Sent</option>
                    <option value="Negative">Negative</option>
                    <option value="Interview">Interview</option>
                </select>
            </div>

            <label for="comments">Comments</label>
            <textarea id="comments"></textarea>
            <button class="form-button" type="submit">Save</button>
    
        </form>
    </div>
    
</div>    

<%- include('partials/footer'); -%>
</body>
<script>
    document.querySelector(".form-button").addEventListener("click", (ev) => {
        //ev.preventDefault();
        console.log("click");
    });
</script>
</html>