<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
  <link rel="stylesheet" href="/signup.css">
</head>
<%- include('partials/header'); -%>
<div class="main container">
    <h1>Register</h1>
    <form class="signup" action="/signup" method="post">
        <label for="firstname">Firstname</label>
        <input name="firstname" id="firstname" type="text">
        <label for="lastname">Lastname</label>
        <input name="lastname" id="lastname"type="text">
        <label for="email">Email</label>
        <input type="text" name="email" id="email">
        <label for="github">Github</label>
        <input type="text" name="github" id="github">
        <div class="files">
            <div class="upload_pic">
                <label for="pic">Upload picture</label>
                <input class="upload_button"id="pic" type="file">
            </div>
            <div class="upload_cv">
                <label for="cv">Upload CV</label>
                <input class="upload_button" id="cv" type="file">
            </div>
        </div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <label for="password_repeat">Confirm Password</label>
        <input type="password" name="password_repeat" id="password_repeat">
        <button class="test" type="submit">Update</button>

    </form>
</div>    

<%- include('partials/footer'); -%>
</body>
<script>
    document.querySelector(".test").addEventListener("click",(ev)=>{
        //ev.preventDefault();
        /* let firstname = document.querySelector("#firstname").value;
        let lastname = document.querySelector("#lastname").value;
        let email = document.querySelector("#email").value;
        let github = document.querySelector("#github").value;
        let password = document.querySelector("#password").value;
        let password_repeat = document.querySelector("#password_repeat").value;
        let pic = document.querySelector("#pic").value;
        let cv = document.querySelector("#cv").value;
        let data = {
            firstname:firstname,
            lastname:lastname,
            email:email,
            github:github,
            password:password,
            password_repeat:password_repeat,
            pic:pic,
            cv:cv
        }
        fetch("/signup",{
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            },
            body:JSON.stringify(data)
        })
        .then(res=>res.json())
        .then(data=>{
            console.log(data);
        }) */
    });
</script>
</html>