*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
a{
    text-decoration: none;
}
.right-nav{
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
}
header,footer{
    max-width: 1440px;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
}
.btn{
    border-radius: 25px;
    padding: 9px;
    background-color: red;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    &:hover{
        background-color: gray;
    }
}
.container{
    display: flex;
    
}
input{
   border-radius: 25px; 
   padding: 3px;
}
.userlogo{
    img{
        width: 35px;
        height: 35px;
    }
}
.upload_button{
    display: none;
}
body{
    background-color: gray;
    .header-container{
        background-color: darkgrey;
        header{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .logo{
                a{
                    text-decoration: none;                    
                }
            }
            nav{
                .user-menu-small{
                    .userlogo{
                        display: none;
                    }
                    .modal-menu-small{
                        div{
                            .user-menu-small-list{
                                li{
                                    a{
                                        color: red;
                                    }
                                }
                            }
                        }
                    }
                }
                .user-menu-big{
                    .user-menu-big-list{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 4%;
                        li{
                            list-style: none;
                            a{
                                color: white;            
                            }
                        }
                    }    
                }
            }
        }
    }
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        .filters{
            display: flex;
            flex-direction: row;
        }
        .job_grid{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 15px;
            .card{
                position: relative;
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                border: 2px solid black;
                justify-content: space-between;
                align-items: center;
                padding: 8px;
                padding-bottom: 25px;
                width: 150px;
                height: 100px;
                .status{
                    height: 20px;
                    width: 60px;
                    font-size: 14px;
                    border: 1px solid black;
                    position: absolute;
                    background-color: blue;
                    color: white;
                    top: -10px;
                    right: -10px;
                    z-index: 3;
                    p{
                        color: red;
                    }
                }
                h2{
                    color: white;
                    font-size: 14px;
                }
                p{
                    color: wheat;
                    font-size: 14px;
                }
                form{
                    a{
                        color: blue;
                    }
                    input{
                        display: none;
                    }
                }
                .delete_card{
                    position: absolute;
                        bottom: -5px;
                        right: -5px;
                    a{
                        color: white;
                        padding: 5px;
                        background-color: red;
                        border-radius: 25px;
                        border: 1px solid black;
                        &:hover{
                            background-color: gray;
                        }


                    }
                }
            }
            .delete_job{
                position: absolute;
                padding: 20px;
                border-radius: 25px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color: darkgray;
                .delete_confirm{
                    display: flex;
                    
                    background-color: darkgray;
                    
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
                    
                    .delete_buttons{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        gap: 10px;
    
                        form{
    
                        }
                    }
                }
            }
            .delete_job::backdrop{
                background: rgba(0,0,0,0.6);
                backdrop-filter: blur(5px);
            }
            
        }
    }
    .modal-seemore {
        background-color: darkgray;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        border-radius: 25%;
        border-top-right-radius: 0px;
        width: 300px;
        height: 400px;
    
        .modal-content{
            background-color: gray;
            padding: 10px;

            .modal-header{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

            }
            .modal-body{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
            }
        }
    }
    .modal-seemore::backdrop{
        background: rgba(0,0,0,0.3);
        backdrop-filter: blur(5px);
 
    }   
}

@media only screen and (max-width:600px) {
    .user-menu-big{
         display: none;
    }
    .job_grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-auto-flow:row; 
    }
}
@media only screen and (max-width:876px){
    .user-menu-small{
        display: none;
    }
    .user-menu-big-list{
        display: flex;
        flex-direction: row;
    }
    .job_grid{
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: repeat(2, 1fr);
    }
}
@media only screen and (max-width:1300px){

}
