* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

a {
  text-decoration: none;
}

.right-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header, footer {
  max-width: 1440px;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
}

.btn {
  border-radius: 25px;
  padding: 9px;
  background-color: red;
  color: white;
  border: 1px solid black;
  cursor: pointer;
}
.btn:hover {
  background-color: gray;
}

.container {
  display: flex;
}

input {
  border-radius: 25px;
  padding: 3px;
}

.userlogo img {
  width: 35px;
  height: 35px;
}

.upload_button {
  display: none;
}

body {
  background-color: gray;
}
body .header-container {
  background-color: darkgrey;
}
body .header-container header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body .header-container header .logo a {
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
}
body .header-container header nav .user-menu-small .userlogo {
  display: none;
}
body .header-container header nav .user-menu-small .modal-menu-small div .user-menu-small-list li a {
  color: red;
}
body .header-container header nav .user-menu-big .user-menu-big-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4%;
}
body .header-container header nav .user-menu-big .user-menu-big-list li {
  list-style: none;
}
body .header-container header nav .user-menu-big .user-menu-big-list li a {
  color: white;
}
body .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
body .main .filters {
  display: flex;
  flex-direction: row;
}
body .main .job_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}
body .main .job_grid .card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid black;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  padding-bottom: 25px;
  width: 150px;
  height: 100px;
  box-shadow: 2px 4px 1px 1px black;
}
body .main .job_grid .card .status {
  height: 20px;
  width: 60px;
  font-size: 14px;
  border: 1px solid black;
  position: absolute;
  background-color: blue;
  color: white;
  top: -10px;
  right: -10px;
  z-index: 3;
}
body .main .job_grid .card .status p {
  color: red;
}
body .main .job_grid .card h2 {
  color: white;
  font-size: 14px;
}
body .main .job_grid .card p {
  color: wheat;
  font-size: 14px;
}
body .main .job_grid .card form a {
  color: blue;
}
body .main .job_grid .card form input {
  display: none;
}
body .main .job_grid .card .delete_card {
  position: absolute;
  bottom: -5px;
  right: -5px;
}
body .main .job_grid .card .delete_card a {
  color: white;
  padding: 5px;
  background-color: red;
  border-radius: 25px;
  border: 1px solid black;
}
body .main .job_grid .card .delete_card a:hover {
  background-color: gray;
}
body .main .job_grid .delete_job {
  position: absolute;
  padding: 20px;
  border-radius: 25px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: darkgray;
}
body .main .job_grid .delete_job .delete_confirm {
  display: flex;
  background-color: darkgray;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
body .main .job_grid .delete_job .delete_confirm .delete_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
body .main .job_grid .delete_job::backdrop {
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
body .modal-seemore {
  background-color: darkgray;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 25%;
  border-top-right-radius: 0px;
  width: 300px;
  height: 400px;
}
body .modal-seemore .modal-content {
  background-color: gray;
  padding: 10px;
}
body .modal-seemore .modal-content .modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body .modal-seemore .modal-content .modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
body .modal-seemore::backdrop {
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

@media only screen and (max-width: 600px) {
  .user-menu-big {
    display: none;
  }
  .job_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
  }
}
@media only screen and (max-width: 876px) {
  .user-menu-small {
    display: none;
  }
  .user-menu-big-list {
    display: flex;
    flex-direction: row;
  }
  .job_grid {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(2, 1fr);
  }
}/*# sourceMappingURL=dashboard.css.map */