*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.right-nav{
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
}
input{
    //display: flex;
    width: 200px;
}
header,footer{
    max-width: 1440px;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
}
.container{
    display: flex;
    
}
.userlogo{
    img{
        width: 35px;
        height: 35px;
    }
}

body{
    background-color: gray;
    .header-container{
        background-color: darkgrey;
        header{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .logo{
                a{
                    text-decoration: none;                    
                }
            }
            nav{
                .user-menu-small{
               
                    .modal-menu-small{
                        div{
                            .user-menu-small-list{
                                li{
                                    a{
                                        color: red;
                                    }
                                }
                            }
                        }
                    }
                }
                .user-menu-big{
                    .user-menu-big-list{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 4%;
                        li{
                            list-style: none;
                            a{
                                color: white;            
                            }
                        }
                    }    
                }
            }
        }
    }
}