*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
a{
    text-decoration: none;
}
.right-nav{
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
    form{
        label{
            padding: 5px;
            border-radius: 25px;
            background-color: darkcyan ;
            color: white;
        }
        
    }
}
#btn{
    display: none;
    
}
input{
    //display: flex;
    width: 200px;
}
header,footer{
    max-width: 1440px;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
}
.container{
    display: flex;
    
}
.userlogo{
    img{
        width: 35px;
        height: 35px;
    }
}

body{
    background-color: gray;
    .header-container{
        background-color: darkgrey;
        header{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .logo{
                a{
                    font-size: 24px;
                    text-decoration: none; 
                    font-weight: bold;                       
                }
            }
            nav{
                .user-menu-small{
               
                    .modal-menu-small{
                        div{
                            .user-menu-small-list{
                                li{
                                    a{
                                        color: red;
                                    }
                                }
                            }
                        }
                    }
                }
                .user-menu-big{
                    .user-menu-big-list{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 4%;
                        li{
                            list-style: none;
                            a{
                                color: white;            
                            }
                        }
                    }    
                }
            }
        }
    }
    .job-creation-container{
        .form-div{
            .update-form{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
            }
            input{
                max-width: 200px;
                padding: 2px;
                border-radius: 25px;
            }
        }
    }
}