* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.right-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.btn {
  border: 1px solid black;
  border-radius: 25px;
  padding: 4px;
  background-color: red;
  color: white;
}

input {
  width: 200px;
}

header, footer {
  max-width: 1440px;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
  background-color: darkgray;
}

.container {
  display: flex;
}

.userlogo img {
  width: 35px;
  height: 35px;
}

body {
  background-color: gray;
}
body .header-container {
  background-color: darkgrey;
}
body .header-container header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body .header-container header .logo a {
  text-decoration: none;
}
body .header-container header nav .user-menu-small .modal-menu-small div .user-menu-small-list li a {
  color: red;
}
body .header-container header nav .user-menu-big .user-menu-big-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4%;
}
body .header-container header nav .user-menu-big .user-menu-big-list li {
  list-style: none;
}
body .header-container header nav .user-menu-big .user-menu-big-list li a {
  color: white;
}
body .main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .main-container .title {
  font-size: 24px;
  padding-bottom: 15px;
}
body .main-container .main-grid {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 2;
}
body .main-container .main-grid .left {
  grid-row: 1/3;
  grid-column: 1/2;
}
body .main-container .main-grid .left .profile-picture {
  width: 35px;
  height: 35px;
}
body .main-container .main-grid .right .infos p {
  line-height: 1.4rem;
}
body .main-container .main-grid .right .modify-upload .cv-download-upload .upload input {
  display: none;
}
body .main-container .main-grid .right .modify-upload .modify .password-change {
  border: 3px solid black;
  padding: 10px;
  border-radius: 25%;
  border-top-right-radius: 0%;
  background-color: gray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .main-container .main-grid .right .modify-upload .modify .password-change div {
  position: relative;
  text-align: right;
}
body .main-container .main-grid .right .modify-upload .modify .password-change div a {
  position: relative;
  top: 0%;
  right: 0%;
  background-color: red;
  color: white;
  padding: 3px;
  text-align: right;
  border: 1px solid black;
}
body .main-container .main-grid .right .modify-upload .modify .password-change .updatepassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
body .main-container .main-grid .right .modify-upload .modify .password-change .updatepassword input {
  font-size: 24px;
  border-radius: 25px;
  border: 1px solid black;
}
body .main-container .main-grid .right .modify-upload .modify .password-change::backdrop {
  background: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 600px) {
  .user-menu-big {
    display: none;
  }
}
@media only screen and (max-width: 876px) {
  .user-menu-small {
    display: none;
  }
  .user-menu-big-list {
    display: flex;
    flex-direction: row;
  }
}/*# sourceMappingURL=profile.css.map */